# LaTeX artifacts
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.ent
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

# Emacs artifacts
auto/
*~
#*

